// Variables
$section-bg: #bbdefb
$titre-bg: #9CCC65
///////////////////////////////////
section
    background-color: $section-bg
    padding: 15px

    h1
        background-color: $titre-bg
        padding: 15px
        color: white
.error
    border-color: red